@model Entities.Camaras

@{
    ViewData["Title"] = "Camaras";
}

<div class="containerli">
    <div class="ui equal width left aligned padded grid stackable">

        <div class="row">
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h5 class="ui header">
                            <a asp-action="Index"><i class="chevron circle left icon"></i>Regresar a la lista</a> | Camara
                        </h5>
                    </div>


                    <form asp-action="Create" class="ui form segment form5">

                        <input type="hidden" name="CamEnabled" value="True" />
                        <input type="hidden" name="CamDate" value="@ViewBag.CamDate" />
                        

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="ui two column middle aligned very relaxed stackable grid">

                            <div class="column">
                                <div class="ui form">
                                    <div class="field">
                                        <label asp-for="CamDescription"></label>
                                        <div class="ui left icon input">
                                            <input asp-for="CamDescription" placeholder="Descripcion" onKeyUp="this.value=this.value.toUpperCase();" maxlength="20" />
                                            <i class="info circle icon"></i>
                                        </div>
                                        <span asp-validation-for="CamDescription" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="column">
                                <div class="ui form">
                                    <div class="field">
                                        <label asp-for="SubId"></label>
                                        <div class="ui left icon input">
                                            <div class="ui fluid search selection dropdown">
                                                <input type="hidden" name="SubId">
                                                <i class="dropdown icon"></i>
                                                <div class="default text">Seleccionar Sucursal </div>
                                                <div class="menu">

                                                    @foreach (var item in ViewBag.SubId as SelectList)
                                                    {
                                                        <div class="item" data-value="@item.Value"><i class="building icon"></i>@item.Text</div>

                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <span asp-validation-for="SubId" class=" text-danger"></span>

                            </div>

                        </div>

                        <div class="ui one column middle aligned very relaxed stackable grid">

                            <div class="column">
                                <div class="ui form">
                                    <div class="field">
                                        <label asp-for="CamSource"></label>
                                        <div class="ui left icon input">
                                            <input asp-for="CamSource" placeholder="Escriba aqui toda la ruta de la conexion de tu camara. Compatible con el protocolo rtsp." maxlength="200" />
                                            <i class="photo icon"></i>
                                        </div>
                                        <span asp-validation-for="CamSource" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="ui two column middle aligned very relaxed stackable grid">
                            <div class="column">
                                <div class="ui blue submit button">Guardar</div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
