@model Entities.Camaras

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Camaras</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="CamId" />
        <dt>
            @Html.DisplayNameFor(model => model.CamDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CamDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CamLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CamLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CamDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CamDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CamSource)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CamSource)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CamEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CamEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sub)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sub.SubId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usr.UsrId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
