@model ViewCategory

@{
    ViewData["Title"] = "Nuevo Cargo";
}

<div class="containerli">
    <div class="ui equal width left aligned padded grid stackable">

        <div class="row">
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h5 class="ui header">
                            Cargo
                        </h5>
                    </div>

                    <form asp-action="Create"  class="ui form segment form5">

                        <input type="hidden" asp-for="Category.CatEnabled" value="true" />
                        @*<input type="hidden" asp-for="Category.SubId" value="@ViewBag.SubId" />*@
                        @*  <input type="hidden" asp-for="Category.UsrId" value="@ViewBag.UsrId" />*@
                        <input type="hidden" asp-for="Category.CatDate" value="@DateTime.Now" />
                        <input type="hidden" asp-for="Category.CatDescription" />

                        <div class="ui one column middle aligned very relaxed stackable grid">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="column">
                                <div class="ui form">
                                    <div class="field">
                                        <label asp-for="Cat"></label>
                                        <div class="ui left icon input">
                                            <input asp-for="Cat" placeholder="Nombre del cargo" onKeyUp="this.value=this.value.toUpperCase();" maxlength="50" />
                                            <i class="info circle icon"></i>
                                        </div>
                                        <span asp-validation-for="Cat" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="column">
                                <div class="ui form">
                                    <div class="field">
                                        <label asp-for="Category.SubId" class="col-md-2 control-label"></label>
                                        <div class="ui left icon input">

                                            <div class="ui fluid search selection dropdown">
                                                <input type="hidden" name="Category.SubId">
                                                <i class="dropdown icon"></i>
                                                <div class="default text">Seleccionar Cargo </div>
                                                <div class="menu">

                                                    @foreach (var item in ViewBag.SubId as SelectList)
                                                        {
                                                        <div class="item" data-value="@item.Value">
                                                            <i class="info circle icon"></i>@item.Text
                                                        </div>
                                                        }
                                                    <span asp-validation-for="Category.SubId" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="ui one column middle aligned very relaxed stackable grid">
                                <div class="column">
                                    <center><div class="ui blue submit button" onclick="setDescription()">Guardar</div></center>
                                </div>
                            </div>
                        </div>


                    </form>

                        <center><a asp-action="Index">Regresar a la lista</a></center>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        function setDescription() {
            var CAT = document.getElementById("Cat").value;
            document.getElementById("Category_CatDescription").value = CAT;
            alert(document.getElementById("Category_CatDescription").value);
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
