@model Entities.Categories

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Categories</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="CatId" />
        <dt>
            @Html.DisplayNameFor(model => model.CatDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CatDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CatEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sub)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sub.SubId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usr.UsrId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
