@model List<Entities.Alarms>

<h5 class="ui header">
    Alarmas asignadas
</h5>

@if (Model != null)
{

    @foreach (var item in Model)
    {
        <h4 class="ui horizontal divider header">
            <i class="user icon"></i>
            @item.AlmDescription
        </h4>

        <p> <i class="building icon"></i> @item.Sub.Com.ComDescription ,@item.Sub.SubDescription</p>

    }
}
    