@model Entities.Persons

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Persons</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="PerId" />
        <dt>
            @Html.DisplayNameFor(model => model.PerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PerLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PerDni)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerDni)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PerEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PerPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerPath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PerPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PerDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PerGender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerGender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PerDateBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerDateBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PerEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cat.CatId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sub)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sub.SubId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usr.UsrId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
