@model viewDetailsPerson

@{
    ViewData["Title"] = "Details";
}

@section Scripts{

    <script>


        function ShowRow1() {
            $("#row1").show();
            $("#row2").hide();
            $("#row3").hide();
            $("#row4").hide();
            $("#item1").addClass("active red");
            $("#item2").removeClass("active red");
            $("#item3").removeClass("active red");
            $("#item4").removeClass("active red");
        }

        function ShowRow2() {
            $("#row1").hide();
            $("#row2").show();
            $("#row3").hide();
            $("#row4").hide();
            $("#row1").hide();
            $("#item1").removeClass("active red");
            $("#item2").addClass("active red");
            $("#item3").removeClass("active red");
            $("#item4").removeClass("active red");
        }


        function ShowRow3() {
            $("#row1").hide();
            $("#row2").hide();
            $("#row3").show();
            $("#row4").hide();
            $("#item1").removeClass("active red");
            $("#item2").removeClass("active red");
            $("#item3").addClass("active red");
            $("#item4").removeClass("active red");

            $.ajax({
                url: '/People/TrainingImages',
                dataType: 'html',
                data: { id: $("#PersonId").val() },
                success: function (data) {
                    $('#training').html(data);
                }
            });


        }

        function ShowRow4() {
            $("#row1").hide();
            $("#row2").hide();
            $("#row3").hide();
            $("#row4").show();
            $("#item1").removeClass("active red");
            $("#item2").removeClass("active red");
            $("#item3").removeClass("active red");
            $("#item4").addClass("active red");

            $.ajax({
                url: '/People/Alarms',
                dataType: 'html',
                data: { id: $("#PersonId").val() },
                success: function (data) {
                    $('#alarm').html(data);
                }
            }
            );

        }



    </script>

}

<input type="hidden" id="PersonId" value="@Model.Person.PerId" />

<div class="containerli profilepage">
    <div class="ui equal width left aligned padded grid">
        <div class="sixteen column profileheader row no-padding">
            <div class="column  left floated">
                <div class="ui items">
                    <div class="item">
                        <a class="ui small circular image">
                            <img src="@Model.Person.PerPath/@Model.Person.PerPhoto">
                            <i class="circle mini red icon avt" data-content="Offline" data-variation="inverted redli"></i>
                        </a>
                        <div class="middle aligned content">
                            <div class="header">
                                <i class="user icon"></i>
                                @Model.Person.FullName
                            </div>
                            <div class="meta">
                                @Model.Person.Cat.CatDescription, <i class="icon map marker"></i> @Model.Person.Sub.Com.ComDescription, @Model.Person.Sub.SubDescription.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="description right aligned">
                    @*<button class="ui circular facebook icon button">
                            <i class="facebook icon"></i>
                        </button>
                        <button class="ui circular twitter icon button">
                            <i class="twitter icon"></i>
                        </button>
                        <button class="ui circular linkedin icon button">
                            <i class="linkedin icon"></i>
                        </button>
                        <button class="ui circular google plus icon button">
                            <i class="google plus icon"></i>
                        </button>
                        <button class="ui circular instagram icon button">
                            <i class="instagram icon"></i>
                        </button>*@
                    <div class="ui divider"></div>
                    <a asp-action="Index" asp-controller="People" class="ui inverted black button">Regresar a la lista</a>

                </div>
            </div>
        </div>

        <div class="ui menu fluid no-radius borderless stackable" style="margin-top:0">
            <a id="item1" class="item active red" onclick="ShowRow1()">Historial de detecciones.</a>
            <a id="item2" class="item" onclick="ShowRow2()">Datos personales</a>
            <a id="item3" class="item" onclick="ShowRow3()"> Fotos de entrenamiento</a>
            <a id="item4" class="item" onclick="ShowRow4()">Alarmas asignadas</a>
            <div class="right menu">
                <a class="item">
                    <div class="ui mini statistic">
                        <div class="value">
                            @Model.Recognition.Count
                        </div>
                        <div class="label">
                            Reconocimientos
                        </div>
                    </div>
                </a>

                <a class="item">
                    <div class="ui mini statistic">
                        <div class="value">
                            @Model.CountDetailRecognitions
                        </div>
                        <div class="label">
                            Detecciones en alarmas
                        </div>
                    </div>
                </a>

            </div>
        </div>

        <div class="row">
            <div class="ten wide column">

                <div id="row1" class="ui segment">
                    <div class="ui feed timeline">

                        @foreach (var item in Model.Recognition)
                        {
                        <div class="event">
                            <div class="label">
                                <img src="/@item.RecPath">
                            </div>
                            <div class="content">
                                <div class="summary">
                                    <a class="user">
                                        @item.Cam.CamDescription
                                    </a> @item.RecDate
                                    <div class="date">
                                        @Entities.Utilities.Generate.TimeAgo(item.RecDate)
                                    </div>
                                </div>
                                <div class="meta">
                                    <a class="like">
                                        <i class="building icon"></i>@item.Cam.Sub.Com.ComDescription, @item.Cam.Sub.SubDescription
                                    </a>
                                </div>
                            </div>
                        </div>
                        }
                        <center>
                            <button class="ui greenli inverted tiny button follow">Ver todos</button>
                        </center>
                    </div>
                </div>

                <div id="row2" hidden="hidden" class="ui segment">
                    <div class="ui segment">
                        <h5 class="ui header">
                            Datos personales
                        </h5>

                        <h4 class="ui horizontal divider header">
                            <i class="user icon"></i>
                            @Model.Person.FullName
                        </h4>

                        <p>@Model.Person.Cat.CatDescription: <i class="building icon"></i> @Model.Person.Sub.Com.ComDescription ,@Model.Person.Sub.SubDescription</p>

                        <h4 class="ui horizontal divider header">
                            <i class="info circle icon"></i>
                            Detalles
                        </h4>

                        <p>DNI: <i class="newspaper icon"></i> @Model.Person.PerDni</p>

                        <p>EMAIL: <i class="mail outline icon"></i> @Model.Person.PerEmail</p>

                        @if (Model.Person.PerGender == "M")
                        {

                            <p>Sexo: <i class="male icon"></i> Masculino</p>
                        }
                        else
                        {
                            <p>Sexo: <i class="female icon"></i> Femenino</p>
                        }

                        <p>CELULAR: <i class="phone icon"></i> @Model.Person.PerPhone</p>

                        <p>FECHA DE NACIMIENTO : <i class="birthday icon"></i> @Model.Person.PerDateBirth.Value.Date.Date</p>

                    </div>
                </div>

                <div id="row3" hidden="hidden" class="ui segment">
                    <div id="training" class="ui segment">
                        <h5 class="ui header">
                            Fotos de entrenamiento
                        </h5>



                    </div>
                </div>

                <div id="row4" hidden="hidden" class="ui segment">
                    <div id="alarm" class="ui segment">
                        <h5 class="ui header">
                            Alarmas asignadas
                        </h5>



                    </div>
                </div>


            </div>





            <div class="six wide column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h3 class="ui header">Últimas alarmas</h3>
                    </div>
                    <div class="ui segment">
                        <div class="ui items">
                            @foreach (var item in Model.DetailsRecognitions)
                            {
                                <div class="item">
                                    <div class="ui tiny rounded image">
                                        <img src="/@item.Rec.RecPath">
                                    </div>
                                    @if (item.Alm != null)
                                    {
                                        <div class="content">
                                            <a class="header" href="#">@item.Alm.AlmDescription</a>
                                            <div class="meta">
                                                <span class="cinema">@item.DreDate</span>
                                            </div>
                                            <div class="description">
                                                <p>@item.Alm.Sub.Com.ComDescription ,@item.Alm.Sub.SubDescription</p>
                                            </div>
                                            <div class="extra">
                                                <button class="ui greenli inverted tiny button follow">Detalles</button>
                                            </div>
                                        </div>	}

                                </div>
                            }
                            <center>
                                <button class="ui greenli inverted tiny button follow">Ver todos</button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
