@model IEnumerable<Entities.Persons>

@{
    ViewData["Title"] = "Personas";
}


@section Scripts{

    @*<script src="~/lib/signalr/jquery.signalR.min.js"></script>
    <script src="~/signalr/hubs"></script>*@


    <script type="text/javascript">
        function utf8_encode(s) {
            return unescape(encodeURIComponent(s));
        }
    </script>

    <script>
        $(".swtalrt").on("click", function () {
            var a = $(this).attr("data-type");
            var b = String($(this).attr("data-content"));
            var person = String($(this).attr("data-selector"));
            var question =String("Eliminar a "+ person);
        var textB = "Una vez eliminado no puede recuperar a la persona eliminada!";
            swal({
                title: question,
        text: textB,
        type: a,
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: utf8_encode("Confirmado, borrar!"),
        cancelButtonText: "No, cancelar!",
        closeOnConfirm: false,
        closeOnCancel: true

            },
                function () {

                    $('.cancel').click(function () {
                        alert("asd");
        });

        if (a) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeletePerson", "People")',
                dataType: 'json',
                data: { personId: b },
                success: function (data) {
                    swal("Eliminado!", data + " ha sido eliminada", "success");
                },
                error: function (ex) {
                    alert('Error' + ex);
                }
            });

        }
    });
});
    </script>

    <script>
        function LoadModal() {
            $(".modaleffect").on("click", function () {
                var a = $(this).attr("data-value");
                $(".ui.modal.standard").modal("setting", "transition", a).modal("show");
            });
            //alert("asd");
            //$('#form').submit();
            //$('#divPartial').load('/People/Info');
            //alert("ss");
        }
    </script>

    <script>

        // Disable function
        jQuery.fn.extend({
            disable: function (state) {
                return this.each(function () {
                    this.disabled = state;
                });
            }
        });

        $("#btnTask").click(function (e) {
            e.preventDefault();
            $("#btnTask").addClass("loading");
            $("#btnTask").disable(true);

                @*$.ajax({
                    type: "POST",
                    url: '@Url.Action("LongTask","Home")',
                    data: {
                        taskId: $("#taskIdTb").val()
                    }
                });

                // clear
                $("#taskIdTb").val("");*@
            });

    </script>

    @*<script>

        $(function () {

            var snippetHub = $.connection.TrainingHub;

            //snippetHub.client.highlight = function (id, highlightedCode, highlightedAt) {

            //    console.log('Received data for snippet #' + id);

            //    $('*[data-snippet="' + id + '"]').html(highlightedCode);

            //    $('*[data-snippet-highlighted=' + id + ']').html(highlightedAt + 'ms');

            //};

            console.log('Connecting to the SnippetHub...');

            $.connection.hub.start().done(function () {

                console.log('Connection with the SnippetHub established!');

                // We are going to store unique snippetIds, to

                // not to subscribe twice.

                Lobibox.notify('success', {
                    size: 'mini',
                    width: 1100,
                    delay: false,
                    position: 'top right',
                    msg: 'Se ha creado correctamente'
                });

                //var snippets = [];

                //$('[data-subscribe=True]').each(function () {

                //    var snippetId = $(this).data('snippet');

                //    // Okay, this is not efficient, but at least simple ;-)

                //    if (snippets.indexOf(snippetId) < 0) {

                //        snippets.push(snippetId);

                //    }

                //});

                //for (var i = 0; i < snippets.length; i++) {
                //    console.log('Subscribing to snippet #' + snippets[i]);
                //    snippetHub.server.subscribe(snippets[i]);
                //}

            });

        });

    </script>*@

    <script>
        function Notifice() {

            //Lobibox.notify('error', {
            //    size: 'large',
            //    position: 'top left',
            //    msg: 'Lorem ipsum dolor sit amet hears farmer indemnity inherent, youngest nestor serene horse, already, ipsum unplanted trace line. Making queries worketh game unplanted trace how erring poles.'
            //});

            Lobibox.notify('success', {
                size: 'mini',
                width: 1100,
                delay: false,
                position: 'top right',
                msg: 'Se ha creado correctamente'
            });

            //Lobibox.notify('success', {
            //    size: 'large',
            //    sound:true,
            //    delay: false,
            //    title: 'Success title',
            //    msg: 'Lorem ipsum dolor sit amet against apennine any created, spend loveliest, building stripes.'
            //});
        }
    </script>

}

<div class="containerli">
    <div class="ui equal width left aligned padded grid stackable">
        @*<div class="column">*@
        @*<div class="ui segments">*@
        @*<div class="ui inverted segment">
                <div class="ui red inverted progress" data-percent="76">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                </div>
            </div>*@

        @*</div>*@
        @*</div>*@

        <div class="row">
            <div class="sixteen wide column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h5 class="ui header">
                            Personas registradas
                        </h5>
                    </div>

                    <div class="ui segment">
                        <a asp-action="Create">
                            <div class="ui left floated small primary labeled icon button mdlcontact">
                                <i class="user icon"></i>
                                Nuevo
                            </div>
                        </a>
                        <br />
                        <br />
                        <br />
                        <table id="data_table" class="ui compact selectable striped celled table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FullName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PerEmail)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PerPhone)
                                    </th>
                                    @*<th>
                                            @Html.DisplayNameFor(model => model.PerGender)
                                        </th>*@
                                    <th>
                                        Fec. Nac

                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <h4 class="ui image header">
                                                @if (item.PerPath != null && item.PerPhoto != null)
                                                {
                                                    <img src="@item.PerPath/@item.PerPhoto" class="ui mini circular image">
                                                }
                                                <div class="content">
                                                    @Html.DisplayFor(modelItem => item.FullName)
                                                    <div class="sub header">
                                                        @Html.DisplayFor(modelItem => item.Cat.CatDescription)|
                                                        DNI: @Html.DisplayFor(modelItem => item.PerDni)
                                                    </div>
                                                </div>
                                            </h4>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PerEmail)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PerPhone)
                                        </td>
                                        @*<td>

                                                @if (item.PerGender.Contains("M"))
                                                {
                                                    <p>Masculino</p>
                                                }
                                                else
                                                {
                                                    <p>Femenino</p>
                                                }

                                            </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PerDateBirth)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.PerId"><i class="pencil link icon"></i></a>|
                                            <a asp-action="Details" asp-route-id="@item.PerId" class="ui modaleffect" data-value="horizontal flip"><i class="info link icon"></i></a>|
                                            <a class="ui swtalrt" data-content="@item.PerId" data-selector="@item.FullName" data-type="info"><i class="trash link icon"></i></a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                        @*<button class="ui button green" id="btnTask"> asda</button>*@
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
