@model IEnumerable<Entities.Persons>

<table id="data_table" class="ui compact selectable striped celled table" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerDni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerDateBirth)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h4 class="ui image header">
                        @if (item.PerPath != null && item.PerPhoto != null)
                        {
                            <img src="@item.PerPath/@item.PerPhoto" class="ui mini circular image">
                        }
                        <div class="content">
                            @Html.DisplayFor(modelItem => item.FullName)
                            <div class="sub header">
                                @Html.DisplayFor(modelItem => item.Cat.CatDescription)

                            </div>
                        </div>
                    </h4>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PerDni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PerEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PerPhone)
                </td>
                <td>

                    @if (item.PerGender.Contains("M"))
                    {
                        <p>Masculino</p>
                    }
                    else
                    {
                        <p>Femenino</p>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PerDateBirth)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PerId"><i class="pencil link icon"></i></a>|
                    <a class="ui modaleffect" data-value="horizontal flip"><i class="info link icon"></i></a>|
                    <a class="ui swtalrt" data-content="@item.PerId" data-selector="@item.FullName" data-type="info"><i class="trash link icon"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>







@*<div id="myModalContent" class="ui standard test modal">
        <div class="header">
            Detallesff
        </div>
        <div class="image content">
            <div class="ui massive image">
                <img src="">
            </div>
            <div class="description">
                <div class="ui header">Persona</div>
                <div class="row">
                    <div class="sixteen wide column">
                        <div class="ui segments">
                            <div class="ui segment">
                                <h5 class="ui header">
                                    Persona
                                </h5>
                            </div>
                            <div class="ui segment">
                                <h4 class="ui horizontal divider header">
                                    <i class="tag icon"></i>
                                    Description
                                </h4>
                                <p>Doggie treats are good for all times of the year. Proven to be eaten by 99.9% of all dogs worldwide.</p>
                                <h4 class="ui horizontal divider header">
                                    <i class="bar chart icon"></i>
                                    Specifications
                                </h4>
                                <table class="ui definition table">
                                    <tbody>
                                        <tr>
                                            <td class="two wide column">Size</td>
                                            <td>1" x 2"</td>
                                        </tr>
                                        <tr>
                                            <td>Weight</td>
                                            <td>6 ounces</td>
                                        </tr>
                                        <tr>
                                            <td>Color</td>
                                            <td>Yellowish</td>
                                        </tr>
                                        <tr>
                                            <td>Odor</td>
                                            <td>Not Much Usually</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                Close
            </div>
            <div class="ui positive right labeled icon button">
                Yes I Know
                <i class="checkmark icon"></i>
            </div>
        </div>

    </div>*@
