@model List<string>
    <div class="ui segment">
        <div class="ui small images">
            @foreach (var item in Model)
            {
                <img src="@item" />
            }

        </div>
    </div>