@model Entities.NeuralNetworks

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NeuralNetworks</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="NeuId" />
        <dt>
            @Html.DisplayNameFor(model => model.NeuDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NeuDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NeuPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NeuPath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NeuDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NeuDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sub)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sub.SubId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usr.UsrId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
