@model Entities.NeuralNetworks

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>NeuralNetworks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NeuDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NeuDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NeuPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NeuPath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NeuDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NeuDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sub)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sub.SubId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usr.UsrId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NeuId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
