﻿@model Monitoring.Models.PowerBi.Report

@{
    ViewData["Title"] = "Home Page";
}

@*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
@*<script src="~/lib/signalr/jquery.signalR.min.js"></script>
    <script src="signal/hubs"></script>
    <div class="room"></div>*@
<div class="containerli">
    <div class="ui equal width left aligned padded grid stackable">

        <div class="row">
            <div class="sixteen wide column">
                <div class="ui segments">
                    <div class="ui segment no-padding-bottom">
                        <h5 class="ui header">
                            Dashboard
                        </h5>
                    </div>

                    <div class="ui segment">
                        <div class="ui middle aligned list">
                           
                                <div id="embedContainer" style="width:auto;height:720px;"></div>
                            
                        </div>
                        <div class="ui inverted dimmer">
                            <div class="ui text loader">Loading</div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="sixteen wide tablet eight wide computer column">
                    <div class="ui segments">
                        <div class="ui segment no-padding-bottom">
                            <h5 class="ui left floated header">
                                Celled List
                            </h5>
                            <h5 class="ui right floated header">
                                <i class="refresh link  mini icon"></i>
                                <i class="ellipsis vertical link  mini icon"></i>
                            </h5>
                            <div class="clearfix"></div>
                        </div>
                        <div class="ui segment">
                            <div class="ui middle aligned list">
                                <div class="item">
                                    <iframe src='https://webchat.botframework.com/embed/BotGonzales?s=CbUQjS98EPc.cwA._2M.Pi4yD4quEdp-RgiyFaVa4CWZXIwukbWctC8g9dchkcg'
                                            width="500" height="340"></iframe>
                                </div>

                            </div>
                            <div class="ui inverted dimmer">
                                <div class="ui text loader">Loading</div>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</div>
@*</div>*@

@section Scripts {

    @if (Model != null)
    {
        <script>
            var txtAccessToken = "@Model.embedToken.token";

            var txtEmbedUrl = "@Model.embedUrl";
            var txtEmbedReportId = "@Model.id";

            // Get models. models contains enums that can be used.
            var models = window['powerbi-client'].models;

            // Embed configuration used to describe the what and how to embed.
            // This object is used when calling powerbi.embed.
            // This also includes settings and options such as filters.
            // You can find more information at https://github.com/Microsoft/PowerBI-JavaScript/wiki/Embed-Configuration-Details.
            var config = {
                type: 'report',
                tokenType: models.TokenType.Embed,
                accessToken: txtAccessToken,
                embedUrl: txtEmbedUrl,
                id: txtEmbedReportId,
                permissions: models.Permissions.All,
                settings: {
                    filterPaneEnabled: true,
                    navContentPaneEnabled: true
                }
            };
            // Get a reference to the embedded report HTML element
            var embedContainer = $('#embedContainer')[0];

            // Embed the report and display it within the div container.
            var report = powerbi.embed(embedContainer, config);

            //// Report.off removes a given event handler if it exists.
            //report.off("loaded");

            //// Report.on will add an event handler which prints to Log window.
            //report.on("loaded", function () {
            //    Log.logText("Loaded");

            //});

            //report.on("error", function (event) {
            //    Log.log(event.detail);
            //    alert("Error" + event.detail);
            //    report.off("error");
            //});

            //report.off("saved");
            //report.on("saved", function (event) {
            //    Log.log(event.detail);
            //    if (event.detail.saveAs) {
            //        Log.logText('In order to interact with the new report, create a new token and load the new report');
            //    }
            //});

        </script>

    }


    @*<script>
            $('.ui.labeled.icon.sidebar')

                .sidebar('toggle');
        </script>*@
}
