
<div class="ui fixed main menu push no-border no-radius sidemenu2 borderless">

    <a class="launch icon item" style="padding-top:20px">
        <i class="content icon"></i>
    </a>
    <div class="right menu">
        <div class="ui dropdown item labeled icon">
            <i class="bell icon"></i>
            <div class="ui red mini label circular">22</div>
            <div class="menu">
                <div class="header">
                    People You Might Know
                </div>
                <div class="item">
                    <img class="ui avatar image" src="../img/avatar/people/Enid.png">
                    Janice Robinson
                </div>
                <div class="item">
                    <img class="ui avatar image" src="../img/avatar/people/Lorie.png">
                    Cynthia	May
                </div>
                <div class="item">
                    <img class="ui avatar image" src="../img/avatar/people/Rick.png">
                    Hugh Carter
                </div>
                <div class="header">
                    Your Friends' Friends
                </div>
                <div class="item">
                    <img class="ui avatar image" src="../img/avatar/people/Meggie.png">
                    Pauline	Cain
                </div>
                <div class="item">
                    <img class="ui avatar image" src="../img/avatar/people/Glenn.png">
                    Marco Beck
                </div>
                <div class="item">
                    <img class="ui avatar image" src="../img/avatar/people/Daryl.png">
                    Sue Quinn
                </div>
            </div>
        </div>
        <div class="ui dropdown item">
            Language <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item">English</a>
                <a class="item">Turkish</a>
                <a class="item">Spanish</a>
            </div>
        </div>
        <div class="ui dropdown item">
            <img class="ui mini circular image" src="img/avatar/people/Enid.png">
            <div class="menu">
                <a class="item">Inbox</a>
                <a class="item">Profile</a>
                <a class="item">Settings</a>
                <div class="ui divider"></div>
                <a class="item">Need Help?</a>
                <a class="item">Sign Out</a>
            </div>
        </div>
    </div>

</div>