<div class="ui visible left vertical sidebar menu no-border sidemenu">
    <a href="dashboard-v1.html" class="ui medium image borderless">
        <img src="~/images/3.png" asp-append-version="true" />
    </a>
    <a class="item">
        <b>Principal</b>
    </a>
    <div class="ui accordion">
        <div class="title">
            <i class="dropdown icon"></i>
            Dashboard  <a class="ui mini red label">Home</a>
        </div>
        <div class="content">
            <a class="item" href="@Url.Action("Index","Home")">
                Dashboard <i class="dashboard icon"></i>
            </a>

        </div>
        @*<div class="title">
            <i class="dropdown icon"></i>
            Reportes
        </div>
        <div class="content">
            <a class="item" href="inbox.html">
                Reportes de Reconocimiento
            </a>
            <a class="item" href="inbox.html">
                Reportes de Entrenamiento
            </a>
            <a class="item" href="inbox.html">
                Reportes de alarmas
            </a>
            <a class="item" href="inbox.html">
                Reportes por Dinámicos
            </a>
        </div>*@
        
        <a class="item">
            <b>Gestion</b>
        </a>

        <div class="title">
            <i class="dropdown icon"></i>
            Persona
        </div>

        <div class="content">
            <a class="item" href="@Url.Action("Index","People")">
                Lista
            </a>
        </div>

        <div class="title">
            <i class="dropdown icon"></i>
            Cargo
        </div>

        <div class="content">
            <a class="item" href="@Url.Action("Index","Categories")">
                Lista
            </a>
        </div>

        <div class="title">
            <i class="dropdown icon"></i>
            Empresa
        </div>

        <div class="content">
            <a class="item" href="@Url.Action("Index","Companies")">
                Lista
            </a>
        </div>

        <div class="title">
            <i class="dropdown icon"></i>
            Sucursal
        </div>

        <div class="content">
            <a class="item" href="@Url.Action("Index","Subsidiaries")">
                Lista
            </a>

        </div>

        <div class="title">
            <i class="dropdown icon"></i>
            Usuario
        </div>

        <div class="content">
            <a class="item" href="@Url.Action("Index","Users")">
                Lista
            </a>

        </div>

        <div class="title">
            <i class="dropdown icon"></i>
            Alarma
        </div>

        <div class="content">
            <a class="item" href="@Url.Action("Index","Alarms")">
                Lista
            </a>

        </div>


        <div class="title">
            <i class="dropdown icon"></i>
            Objeto
        </div>

        <div class="content">
            <a class="item" href="@Url.Action("Index","Xobjects)")">
                Lista
            </a>

        </div>

        <div class="title">
            <i class="dropdown icon"></i>
            Camara
        </div>

        <div class="content">
            <a class="item" href="@Url.Action("Index","Camaras")">
                Lista
            </a>

        </div>

        @*<div class="title">
            <i class="dropdown icon"></i>
            Historial de movimientos
        </div>

        <div class="content">
            <a class="item" href="@Url.Action("Index","Histories")">
                Lista
            </a>

        </div>*@


        @*<div class="title">
            <i class="dropdown icon"></i>
            Clasificador
        </div>

        <div class="content">
            <a class="item" href="@Url.Action("Index","NeuralNetworks")">
                Lista
            </a>

        </div>

        <div class="title">
            <i class="dropdown icon"></i>
            Entrenamiento
        </div>

        <div class="content">
            <a class="item" href="@Url.Action("Index","Traimings")">
                Lista
            </a>

        </div>*@


        @*<div class="title">
                <i class="dropdown icon"></i>
                Pages
            </div>
            <div class="content">
                <a class="item" href="profile.html">
                    Profile
                </a>
                <a class="item" href="settings.html">
                    Settings
                </a>
                <a class="item" href="blank.html">
                    Blank
                </a>
                <a class="item" href="signin.html">
                    Sign In
                </a>
                <a class="item" href="signup.html">
                    Sign Up
                </a>
                <a class="item" href="forgotpassword.html">
                    Forgot Password
                </a>
                <a class="item" href="lockme.html">
                    Lock Me Screen
                </a>
                <a class="item" href="404.html">
                    Error 404
                </a>
                <a class="item" href="comingsoon.html">
                    Coming Soon
                </a>
            </div>
            <div class="title">
                <i class="dropdown icon"></i>
                Form
            </div>
            <div class="content">
                <a class="item" href="formelements.html">
                    Form Element
                </a>
                <a class="item" href="input.html">
                    Input
                </a>
                <a class="item" href="formvalidation.html">
                    Form Validation
                </a>
                <a class="item" href="editor.html">
                    Html Editor
                </a>
            </div>
            <div class="title">
                <i class="dropdown icon"></i>
                Tables
            </div>
            <div class="content">
                <a class="item" href="table.html">
                    Static Table
                </a>
                <a class="item" href="datatable.html">
                    Datatable
                </a>
                <a class="item" href="editable.html">
                    Editable
                </a>
            </div>
            <div class="title">
                <i class="dropdown icon"></i>
                Chart
            </div>
            <div class="content">
                <a class="item" href="chart.html">
                    Charts 1
                </a>
                <a class="item" href="chart-2.html">
                    Charts 2
                </a>
                <a class="item" href="chart-3.html">
                    Charts 3
                </a>
            </div>
            <a class="item">
                <b>Help</b>
            </a>
            <a class="item" href="document.html">
                <i class="question icon"></i> Documentation
            </a>

            <a class="item">
                <div class="ui red empty circular label"></div>
                Important
            </a>
            <a class="item">
                <div class="ui orange empty circular label"></div>
                Warning
            </a>
            <a class="item">
                <div class="ui blue empty circular label"></div>
                Info
            </a>*@
    </div>
</div>
