<div class="ui visible left vertical sidebar menu no-border sidemenu mailmenu">
    <h2 class="ui icon center inverted aligned header">
        <i class="envelope blue icon"></i>
        <span class="content">
            Mail Box
        </span>
    </h2>
    <a class="item">
        <button class="ui fluid inverted blue button">Compose</button>
    </a>
    <a class="item active" style="background:#282d36">
        Inbox (67)
    </a>
    <a class="item">
        Important
    </a>
    <a class="item">
        Sent
    </a>
    <a class="item">
        Drafts
    </a>
    <a class="item">
        Trash
    </a>
    <div class="ui divider"></div>
    <div class="item">
        <h4 class="ui grey header">
            Labels
        </h4>
    </div>
    <a class="item">
        <div class="ui teal empty circular label"></div>
        Semantic
    </a>
    <a class="item">
        <div class="ui blue empty circular label"></div>
        Bootstrap
    </a>
    <a class="item">
        <div class="ui pink empty circular label"></div>
        Pure
    </a>
    <div class="ui divider"></div>
    <div class="item">
        <h4 class="ui grey header">
            Chat
        </h4>
    </div>
    <a class="item">
        <div class="ui greenli empty circular label" style="float:left"></div>
        <span class="mailuserlabel">Tobin Stone</span>
    </a>
    <a class="item">
        <div class="ui redli empty circular label" style="float:left"></div>
        <span class="mailuserlabel">Clara Wright</span>
    </a>
    <a class="item">
        <div class="ui redli empty circular label" style="float:left"></div>
        <span class="mailuserlabel">Jesse Martin</span>
    </a>
    <a class="item">
        <div class="ui greenli empty circular label" style="float:left"></div>
        <span class="mailuserlabel">Rick Steel</span>
    </a>
    <a class="item">
        <div class="ui greenli empty circular label" style="float:left"></div>
        <span class="mailuserlabel">Olivia Dunham</span>
    </a>
    <a class="item">
        <div class="ui redli empty circular label" style="float:left"></div>
        <span class="mailuserlabel">Saga Noren</span>
    </a>


</div>