﻿@{
    ViewBag.Title = "Home Page";
}

@section scripts
{

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalR/hubs"></script>

    <script type="text/javascript">
        $(function () {
            // Proxy created on the fly
            var job = $.connection.RecHub;

            // Declare a function on the job hub so the server can invoke it
            job.client.displayStatus = function () {
                getData();
            };

            // Start the connection
            $.connection.hub.start();
            getData();
        });

        function getData() {
            var $tbl2 = $('#AudioDiv');
            var $tbl = $('#tblJobInfo');
            $.ajax({
                url: '../api/rec',
                type: 'GET',
                datatype: 'json',
                success: function (data) {
                    if (data.length > 0) {
                        $tbl2.empty();
                        $tbl.empty();
                        $tbl.append(' <tr><th>Foto</th><th>Alarma</th><th>Cámara</th><th>Apellidos</th><th>Nombres</th><th>Porcentaje</th><th>Objeto</th><th>Porcentaje</th><th>Fecha</th><th>Hora</th></tr>');
                        var rows = [];
                        $tbl2.append('<audio controls autoplay="autoplay"><source src="' + "/Home/Voice?text= Detectado " + data[data.length - 1].Alm_Description + '" type="audio/mp3" /></audio>');
                        for (var i = 0; i < data.length; i++) {

                            //rows.push(' <tr><td>' + data[i].DreId + '</td><td>' + data[i].RecId + '</td><td>' + data[i].ObjId + '</td><td>' + data[i].DrePercentage + '</td><td>' + data[i].DreDate.toString().substr(0, 10) + '</td><td>' + '</td></tr>');
                            rows.push(' <tr><td><img src="http://localhost:63969/' + data[i].Rec_Path + '"/></td><td>' + data[i].Alm_Description + '</td><td>' + data[i].Cam_Description + '</td><td>' + data[i].Per_LastName + '</td><td>' + data[i].Per_Name + '</td><td>' + data[i].Rec_Percentage + '%</td><td>' + data[i].Obj_Description + '</td><td>' + data[i].Dre_Percentage + '%</td><td>' + data[i].Rec_Date + '</td><td>' + data[i].Rec_Time + '</td></tr>');

                            //$tbl2.append('<audio controls autoplay="autoplay"><source src="' + "/Home/Voice?text= Detectado " + data[i].Alm_Description + '" type="audio/mp3" /></audio>');
                           
                        }
                        $tbl.append(rows.join(''));
                       
                    }
                }
            });
        }
    </script>
}

<div>
    <table id="tblJobInfo" style="text-align:center;margin-left:10px"></table>
</div>


<div hidden="hidden">
    <table id="AudioDiv" style="text-align:center;margin-left:10px"></table>
</div>

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@