@model Entities.Training

@{
    ViewData["Title"] = "Create";
}

<div class="containerli">
    <div class="ui equal width left aligned padded grid stackable">

        <div class="row">
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h5 class="ui header">
                            <a asp-action="Index"><i class="chevron circle left icon"></i>Regresar a la lista</a> | Objeto
                        </h5>
                    </div>


                    <form asp-action="Create" class="ui form segment form5">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="TraDescription" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="TraDescription" class="form-control" />
                                <span asp-validation-for="TraDescription" class="text-danger"></span>
                            </div>
                        </div>

                        <br />

                        <div class="form-group">
                            <label asp-for="NeuId" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <select asp-for="NeuId" class="form-control" asp-items="ViewBag.NeuId"></select>
                            </div>
                        </div>

                        <br />

                        <div class="ui two column middle aligned very relaxed stackable grid">
                            <div class="column">
                                <div class="ui blue submit button">Guardar</div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>