@model Entities.Training

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Training</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="TraId" />
        <dt>
            @Html.DisplayNameFor(model => model.TraDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TraDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TraDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TraDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TraEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TraEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Neu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Neu.NeuId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usr.UsrId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
