@model Entities.Training

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Training</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TraDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TraDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TraDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TraDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TraEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TraEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Neu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Neu.NeuId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usr.UsrId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TraId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
