@model Entities.Training

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Training</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="TraId" />
        <div class="form-group">
            <label asp-for="TraDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TraDescription" class="form-control" />
                <span asp-validation-for="TraDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TraDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TraDate" class="form-control" />
                <span asp-validation-for="TraDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NeuId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="NeuId" class="form-control" asp-items="ViewBag.NeuId"></select>
                <span asp-validation-for="NeuId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UsrId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="UsrId" class="form-control" asp-items="ViewBag.UsrId"></select>
                <span asp-validation-for="UsrId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="TraEnabled" />
                    <label asp-for="TraEnabled"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

