@model IEnumerable<Entities.Training>

@{
    ViewData["Title"] = "Entrenamientos";
}

<div class="containerli">
    <div class="ui equal width left aligned padded grid stackable">
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h5 class="ui header">
                            Entrenamientos registradas
                        </h5>
                    </div>

                    <div class="ui segment">

                        <a asp-action="Create">
                            <div class="ui left floated small primary labeled icon button mdlcontact">
                                <i class="lab icon"></i>
                                Nuevo
                            </div>
                        </a>

                        <table id="data_table" class="ui compact selectable striped celled table" cellspacing="0" width="100%">

                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TraDescription)
                                    </th>
                                    <th>    
                                        @Html.DisplayNameFor(model => model.NeuId)
                                    </th>
                                    <th>
                                        Terminado
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UsrId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TraDate)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TraDescription)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Neu.NeuDescription)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TraEnabled)
                                        </td>
                                        <td>
                                            SISTEMA
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TraDate)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.TraId"><i class="pencil link icon"></i></a>|
                                            <a asp-action="Details" asp-route-id="@item.TraId" class="ui modaleffect" data-value="horizontal flip"><i class="info link icon"></i></a>|
                                            <a class="ui swtalrt" data-content="@item.TraId" data-selector="@item.TraDescription" data-type="info"><i class="trash link icon"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>