﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>

    <!-- Standard Meta -->

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1">
    
    <link rel="image_src" type="image/jpeg" href="~/images/logo.png" />
    <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />

    @*<meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
    <title>@ViewData["Title"] - Monitoring</title>

    <environment names="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@

        @*<link href="~/lib/semantic-ui-sidebar/sidebar.css" rel="stylesheet" />
            <link href="~/lib/semantic-ui-icon/icon.css" rel="stylesheet" />
            <link href="~/lib/semantic-ui-menu/menu.css" rel="stylesheet" />*@

        <link href="~/lib/plugins/chartist/chartist.css" rel="stylesheet" />
        <link href="~/lib/plugins/datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
        <link href="~/lib/semantic-template/semantic.css" rel="stylesheet" />
        @*<link href="~/lib/semantic/dist/semantic.css" rel="stylesheet" />*@
        <link href="~/lib/plugins/lobibox/css/lobibox.css" rel="stylesheet" />
        @*<link href="~/lib/plugins/photoeditor/css/cropper.min.css" rel="stylesheet">
            <link href="~/lib/plugins/photoeditor/css/main.css" rel="stylesheet">*@
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
        <link href="~/css/main.css" rel="stylesheet" />
        <link href="~/lib/plugins/pacejs/pace.css" rel="stylesheet" />
        <script src="~/js/jquery-2.1.4.min.js"></script>
        <script src="~/lib/powerbi-client/dist/powerbi.js"></script>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"
              asp-fallback-href="~/lib/semantic/dist/semantic.min.css"
              asp-fallback-test-class="transition" asp-fallback-test-property="animation-iteration-count" asp-fallback-test-value="1" />

        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href="~/lib/semantic-ui-sidebar/sidebar.min.css" rel="stylesheet" />
        <link href="~/lib/semantic-ui-icon/icon.min.css" rel="stylesheet" />
        <link href="~/lib/semantic-ui-menu/menu.min.css" rel="stylesheet" />
        <link href="~/lib/semantic/dist/components/button.css" rel="stylesheet" />
        <link href="~/lib/semantic/dist/components/transition.css" rel="stylesheet" />
        
        <link href="~/lib/plugins/chartist/chartist.css" rel="stylesheet" />
        <link href="~/lib/plugins/datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
        <link href="~/lib/semantic-template/semantic.css" rel="stylesheet" />
        @*<link href="~/lib/semantic/dist/semantic.css" rel="stylesheet" />*@
        <link href="~/lib/plugins/lobibox/css/lobibox.css" rel="stylesheet" />
        @*<link href="~/lib/plugins/photoeditor/css/cropper.min.css" rel="stylesheet">
        <link href="~/lib/plugins/photoeditor/css/main.css" rel="stylesheet">*@
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
        <link href="~/css/main.css" rel="stylesheet" />
        <link href="~/lib/plugins/pacejs/pace.css" rel="stylesheet" />        
        <script src="~/js/jquery-2.1.4.min.js"></script>
        <script src="~/lib/powerbi-client/dist/powerbi.js"></script>
    
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body class="admin">

    <div class="ui bottom demo inverted nine item labeled icon sidebar menu scale down">
        <a class="item">
            <i class="home icon"></i>
            Home
        </a>
        <a class="item">
            <i class="block layout icon"></i>
            Topics
        </a>
        <a class="item">
            <i class="smile icon"></i>
            Friends
        </a>
        <a class="item">
            <i class="home icon"></i>
            Home
        </a>
        <a class="item">
            <i class="home icon"></i>
            Home
        </a>
        <a class="item">
            <i class="home icon"></i>
            Home
        </a>
        <a class="item">
            <i class="home icon"></i>
            Home
        </a>
        <a class="item">
            <i class="home icon"></i>
            Home
        </a>
        <a class="item">
            <i class="home icon"></i>
            Home
        </a>
    </div>

    <!--sidebar mobile-->
    <div class="ui vertical push sidebar menu  thin" id="toc">
    </div>
    <!--sidebar mobile-->
    <!--navbar mobile-->
    <div class="mobilenavbar">
    </div>

    <div class="pusher">
        <div class="full height">
            <!--Load Sidebar Menu In App.js loadhtml function-->
            <div class="toc"></div>
            <!--Load Sidebar Menu In App.js loadhtml function-->
            <div class="article">
                <!--Load Navbar Menu In App.js loadhtml function-->
                <div class="navbarmenu">
                </div>

                <!--Load Navbar Menu In App.js loadhtml function-->
                <!--Begin Container-->
                @*<div class="containerli">
                    <div class="ui equal width left aligned padded grid stackable">*@
                

                @RenderBody()

                @*</div>
                    </div>*@
                <!--Finish Container-->
                <!--Load Footer Menu In App.js loadhtml function-->
                <div class="footer"></div>
                <!--Load Footer Menu In App.js loadhtml function-->
            </div>
        </div>
    </div>

    @*<div class="ui main text container">*@
    @*@RenderBody()*@
    @*</div>*@

    @*<div class="ui inverted vertical footer segment">
            <div class="ui center aligned container">
                <div class="ui stackable inverted divided grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">Group 1</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Link One</a>
                            <a href="#" class="item">Link Two</a>
                            <a href="#" class="item">Link Three</a>
                            <a href="#" class="item">Link Four</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">Group 2</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Link One</a>
                            <a href="#" class="item">Link Two</a>
                            <a href="#" class="item">Link Three</a>
                            <a href="#" class="item">Link Four</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">Group 3</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Link One</a>
                            <a href="#" class="item">Link Two</a>
                            <a href="#" class="item">Link Three</a>
                            <a href="#" class="item">Link Four</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">Footer Header</h4>
                        <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
                    </div>
                </div>
                <div class="ui inverted section divider"></div>
                <div class="ui horizontal inverted small divided link list">
                    <a class="item" href="#">Site Map</a>
                    <a class="item" href="#">Contact Us</a>
                    <a class="item" href="#">Terms and Conditions</a>
                    <a class="item" href="#">Privacy Policy</a>
                </div>
            </div>
        </div>*@


    @*<div class="pusher">*@

    <!-- Site content !-->
    @*<div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; 2017 - Monitoring</p>
                </footer>
            </div>
        </div>*@

    @*<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Monitoring</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Users" asp-action="Index">Usuario</a></li>
                        <li><a asp-area="" asp-controller="Companies" asp-action="Index">Empresa</a></li>
                        <li><a asp-area="" asp-controller="Subsidiaries" asp-action="Index">Sucursal</a></li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>*@


    <environment names="Development">

        <script src="~/lib/plugins/nicescrool/jquery.nicescroll.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.1/raphael.min.js"></script>
        <script src="~/lib/plugins/datepicker/js/bootstrap-datepicker.js"></script>
        <script src="~/lib/plugins/sparkline/jquery.sparkline.min.js"></script>
        @*<script src="~/lib/semantic/dist/semantic.js"></script>*@
        @*<script src="~/lib/semantic-template/semantic.js"></script>*@


        @*<script src="~/lib/plugins/photoeditor/js/vue.min.js"></script>
            <script src="~/lib/plugins/photoeditor/js/cropper.min.js"></script>
            <script src="~/lib/plugins/photoeditor/js/main.js"></script>*@

        <script src="~/lib/semantic-template/semantic.min.js"></script>
        <script src="~/lib/plugins/sweetalert/sweetalert.min.js"></script>
        <script data-pace-options='{ "ajax": false }' src="~/lib/plugins/pacejs/pace.js"></script>
        <script src="~/lib/plugins/morris/morris.min.js"></script>
        <script src="~/js/customjs/custom-alert.js"></script>

        <script src="~/js/customjs/custom-dashboard.js"></script>
        <script src="~/lib/plugins/datatable/jquery.dataTables.js"></script>
        <script src="~/js/customjs/custom-datatable.js"></script>

        <script src="~/js/customjs/custom-modal.js"></script>
        <script src="js/customjs/custom-progress.js"></script>
        <script src="~/js/app.js"></script>
        <script src="~/js/customjs/custom-validation.js"></script>
        <script src="~/lib/plugins/lobibox/js/notifications.js"></script>    
    @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
        @*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
        @*<script src="~/js/site.js" asp-append-version="true"></script>
            <script src="~/lib/semantic-ui-sidebar/sidebar.js"></script>
            <script src="~/lib/semantic/dist/components/transition.js"></script>*@
    </environment>
    <environment names="Staging,Production">

        
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    </environment>

    <script src="~/lib/plugins/nicescrool/jquery.nicescroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.1/raphael.min.js"></script>
    <script src="~/lib/plugins/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/plugins/sparkline/jquery.sparkline.min.js"></script>

    <script src="~/lib/semantic-template/semantic.min.js"></script>
    <script src="~/lib/plugins/sweetalert/sweetalert.min.js"></script>
    <script data-pace-options='{ "ajax": false }' src="~/lib/plugins/pacejs/pace.js"></script>
    <script src="~/lib/plugins/morris/morris.min.js"></script>
    <script src="~/js/customjs/custom-alert.js"></script>

    <script src="~/js/customjs/custom-dashboard.js"></script>
    <script src="~/lib/plugins/datatable/jquery.dataTables.js"></script>
    <script src="~/js/customjs/custom-datatable.js"></script>

    <script src="~/js/customjs/custom-modal.js"></script>
    <script src="js/customjs/custom-progress.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/customjs/custom-validation.js"></script>
    <script src="~/lib/plugins/lobibox/js/notifications.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
