@model Entities.Alarms

@{
    ViewData["Title"] = "Nueva Alarma";
}

<div class="containerli">
    <div class="ui equal width left aligned padded grid stackable">

        <div class="row">
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h5 class="ui header">
                            <a asp-action="Index"><i class="chevron circle left icon"></i>Regresar a la lista</a> | Alarma
                        </h5>
                    </div>

                    <form asp-action="Create" class="ui form segment form5">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                        <div class="ui two column middle aligned very relaxed stackable grid">

                            <div class="column">
                                <div class="ui form">
                                    <div class="field">
                                        <label asp-for="AlmDescription" class="col-md-2 control-label"></label>                                <div class="ui left icon input">
                                            <input type="text" placeholder="Descripcion" asp-for="AlmDescription" />
                                            <i class="mail outline icon"></i>
                                        </div>
                                        <span asp-validation-for="AlmDescription"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="column">
                                <div class="ui form">
                                    <div class="field">
                                        <label asp-for="PerId"></label>
                                        <div class="ui left icon input">

                                            <div class="ui fluid search selection dropdown">
                                                <input type="hidden" name="PerId">
                                                <i class="dropdown icon"></i>
                                                <div class="default text">Seleccionar Persona </div>
                                                <div class="menu">

                                                    @foreach (var item in ViewBag.PerId as SelectList)
                                                    {
                                                    <div class="item" data-value="@item.Value">
                                                        <i class="user icon"></i>@item.Text


                                                    </div>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                        <span asp-validation-for="PerId" class="text-danger"></span>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="ui two column middle aligned very relaxed stackable grid">
                            <div class="column">
                                <div class="ui form">
                                    <div class="field">
                                        <label asp-for="ObjId"></label>
                                        <div class="ui left icon input">

                                            <div class="ui fluid search selection dropdown">
                                                <input type="hidden" name="ObjId">
                                                <i class="dropdown icon"></i>
                                                <div class="default text">Seleccionar Objeto </div>
                                                <div class="menu">

                                                    @foreach (var item in ViewBag.ObjId as SelectList)
                                                    {
                                                    <div class="item" data-value="@item.Value">
                                                        <i class="user icon"></i>@item.Text


                                                    </div>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                        <span asp-validation-for="ObjId" class="text-danger"></span>
                                    </div>
                                </div>


                            </div>

                            <div class="column">
                                <div class="ui form">
                                    <div class="field">
                                        <label asp-for="SubId"></label>
                                        <div class="ui left icon input">

                                            <div class="ui fluid search selection dropdown">
                                                <input type="hidden" name="SubId">
                                                <i class="dropdown icon"></i>
                                                <div class="default text">Seleccionar Sucursal </div>
                                                <div class="menu">

                                                    @foreach (var item in ViewBag.SubId as SelectList)
                                                    {
                                                        <div class="item" data-value="@item.Value">
                                                            <i class="user icon"></i>@item.Text

                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                        <span asp-validation-for="SubId" class="text-danger"></span>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="ui two column middle aligned very relaxed stackable grid">
                            <div class="column">
                                <div class="ui blue submit button">Guardar</div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
