@model Entities.Alarms

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Alarms</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlmDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlmDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlmDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlmDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlmEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlmEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Obj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Obj.ObjId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Per)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Per.PerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sub)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sub.SubId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usr.UsrId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AlmId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
