@model Entities.Alarms

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Alarms</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="AlmId" />
        <div class="form-group">
            <label asp-for="AlmDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AlmDescription" class="form-control" />
                <span asp-validation-for="AlmDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AlmDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AlmDate" class="form-control" />
                <span asp-validation-for="AlmDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PerId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="PerId" class="form-control" asp-items="ViewBag.PerId"></select>
                <span asp-validation-for="PerId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ObjId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ObjId" class="form-control" asp-items="ViewBag.ObjId"></select>
                <span asp-validation-for="ObjId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SubId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="SubId" class="form-control" asp-items="ViewBag.SubId"></select>
                <span asp-validation-for="SubId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UsrId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="UsrId" class="form-control" asp-items="ViewBag.UsrId"></select>
                <span asp-validation-for="UsrId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="AlmEnabled" />
                    <label asp-for="AlmEnabled"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
