@model IEnumerable<Entities.Alarms>

@{
    ViewData["Title"] = "Alarmas";
}

<div class="containerli">
    <div class="ui equal width left aligned padded grid stackable">

        <div class="row">
            <div class="sixteen wide column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h5 class="ui header">
                            Alarmas registradas
                        </h5>
                    </div>

                    <div class="ui segment">

                        <a asp-action="Create">
                            <div class="ui left floated small primary labeled icon button mdlcontact">
                                <i class="user icon"></i>
                                Nuevo
                            </div>
                        </a>

                        <table id="data_table" class="ui compact selectable striped celled table" cellspacing="0" width="100%">

                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AlmDescription)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ObjId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PerId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SubId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AlmDate)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AlmDescription)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Obj.ObjDescription)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Per.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sub.SubDescription)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AlmDate)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.AlmId"><i class="pencil link icon"></i></a>|
                                        <a asp-action="Details" asp-route-id="@item.AlmId" class="ui modaleffect" data-value="horizontal flip"><i class="info link icon"></i></a>|
                                        <a class="ui swtalrt" data-content="@item.AlmId" data-selector="@item.AlmDescription" data-type="info"><i class="trash link icon"></i></a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>