@model Entities.Subsidiaries

@{
    ViewData["Title"] = "Nueva Sucursal";
}

<div class="containerli">
    <div class="ui equal width left aligned padded grid stackable">

        <div class="row">
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h5 class="ui header">
                            <a asp-action="Index"><i class="chevron circle left icon"></i>Regresar a la lista</a> | Sucursal
                        </h5>
                    </div>


                    <form asp-action="Create" class="ui form segment form5">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="ui two column middle aligned very relaxed stackable grid">

                            <div class="column">
                                <div class="ui form">
                                    <div class="field">
                                        <label asp-for="ComId"></label>
                                        <div class="ui left icon input">
                                            <div class="ui fluid search selection dropdown">
                                                <input type="hidden" name="ComId">
                                                <i class="dropdown icon"></i>
                                                <div class="default text">Seleccionar Empresa </div>
                                                <div class="menu">
                                                    <input type="hidden" name="Person.PerGender">
                                                    @foreach (var item in ViewBag.ComId as SelectList)
                                                    {
                                                    <div class="item" data-value="@item.Value"><i class="building icon"></i>@item.Text</div>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*<div class="ui left icon input">
                                            <select asp-for="ComId" class="form-control" asp-items="ViewBag.ComId"></select>
                                            <i class="user icon"></i>
                                        </div>*@
                                    <span asp-validation-for="ComId"></span>
                                </div>
                            </div>


                            <div class="column">
                                <div class="ui form">
                                    <div class="field">
                                        <label asp-for="SubDescription" class="col-md-2 control-label"></label>
                                        <div class="ui left icon input">
                                            <input asp-for="SubDescription" class="form-control" />
                                            <i class="building icon"></i>
                                        </div>
                                        <span asp-validation-for="SubDescription" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="ui two column middle aligned very relaxed stackable grid">

                            <div class="column">
                                <div class="ui form">
                                    <div class="field">
                                        <label asp-for="SubNameLocation"></label>
                                        <div class="ui left icon input">
                                            <input asp-for="SubNameLocation" class="form-control" />
                                            <i class="building icon"></i>
                                        </div>
                                        <span asp-validation-for="SubNameLocation" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            @*<div class="column">
                                    <div class="ui form">
                                        <div class="field">
                                            <label asp-for="SubLocation" class="col-md-2 control-label"></label>                                        <div class="ui left icon input">
                                                <input asp-for="SubLocation" class="form-control" />                                            <i class="building icon"></i>
                                            </div>
                                            <span asp-validation-for="SubLocation" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>*@


                        </div>

                        <div class="ui two column middle aligned very relaxed stackable grid">
                            <div class="column">
                                <div class="ui blue submit button">Guardar</div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
