@model Entities.Subsidiaries

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Subsidiaries</h4>
    <hr />
    <input type="hidden" asp-for="SubId" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Com)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Com.ComId)
        </dd>
    </dl>

    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
