@model Entities.Subsidiaries

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subsidiaries</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Com)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Com.ComId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SubId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
