@model Entities.Subsidiaries

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Subsidiaries</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="SubId" />
        <div class="form-group">
            <label asp-for="ComId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ComId" class="form-control" asp-items="ViewBag.ComId"></select>
                <span asp-validation-for="ComId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SubDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SubDate" class="form-control" />
                <span asp-validation-for="SubDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SubDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SubDescription" class="form-control" />
                <span asp-validation-for="SubDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="SubEnabled" />
                    <label asp-for="SubEnabled"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
