@model Entities.Users

@{
    ViewData["Title"] = "Nuevo Usuario";
}

<div class="containerli">
    <div class="ui equal width left aligned padded grid stackable">

        <div class="row">
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h5 class="ui header">
                            <a asp-action="Index"><i class="chevron circle left icon"></i>Regresar a la lista</a> | Usuario
                        </h5>
                    </div>


                    <form asp-action="Create" class="ui form segment form5">


                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                        <div class="column">

                            <div class="ui form">
                                <div class="field">
                                    <div class="form-group">
                                        <label asp-for="UsrUsername" class="col-md-2 control-label"></label>
                                        <div class="col-md-10">
                                            <input asp-for="UsrUsername" class="form-control" />
                                            <span asp-validation-for="UsrUsername" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />
                        <div class="column">
                            <div class="ui form">
                                <div class="field">
                                    <div class="form-group">
                                        <label asp-for="Password" class="col-md-2 control-label"></label>
                                        <div class="col-md-10">
                                            <input asp-for="Password" class="form-control" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br />

                        <div class="ui form">
                            <div class="field">
                                <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="ui form">
                            <div class="field">

                                <div class="form-group">
                                    <label asp-for="SubId" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <select asp-for="SubId" class="form-control" asp-items="ViewBag.SubId"></select>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="ui form">
                            <div class="field">
                                <label asp-for="UsrDateBirth" class="col-md-2 control-label"></label>
                                <div class="ui left icon input">
                                    <input asp-for="UsrDateBirth" class="form-control" />
                                    <i class="birthday icon"></i>
                                </div>
                                <span asp-validation-for="UsrDateBirth" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="column">

                            <div class="form-group">
                                <label asp-for="UsrDni" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="UsrDni" class="form-control" />
                                    <span asp-validation-for="UsrDni" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <br />
                        <div class="form-group">
                            <label asp-for="UsrFirstName" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="UsrFirstName" class="form-control" />
                                <span asp-validation-for="UsrFirstName" class="text-danger"></span>
                            </div>
                        </div>

                        <br />
                        <div class="form-group">
                            <label asp-for="UsrLastName" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="UsrLastName" class="form-control" />
                                <span asp-validation-for="UsrLastName" class="text-danger"></span>
                            </div>
                        </div>

                        <br />
                        <div class="form-group">
                            <label asp-for="UsrGender" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="UsrGender" class="form-control" />
                                <span asp-validation-for="UsrGender" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="UsrPhone" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="UsrPhone" class="form-control" />
                                <span asp-validation-for="UsrPhone" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="ui two column middle aligned very relaxed stackable grid">
                            <div class="column">
                                <div class="ui blue submit button">Guardar</div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
