@model Entities.Users

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Users</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="UsrId" />
        <dt>
            @Html.DisplayNameFor(model => model.UsrDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsrDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsrDateBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsrDateBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsrDni)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsrDni)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsrEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsrEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsrFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsrFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsrGender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsrGender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsrLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsrLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsrPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsrPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsrPhoto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsrPhoto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsrUsername)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsrUsername)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sub)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sub.SubId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
