@model Entities.Users

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Users</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="UsrId" />
        <div class="form-group">
            <label asp-for="SubId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="SubId" class="form-control" asp-items="ViewBag.SubId"></select>
                <span asp-validation-for="SubId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UsrDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UsrDate" class="form-control" />
                <span asp-validation-for="UsrDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UsrDateBirth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UsrDateBirth" class="form-control" />
                <span asp-validation-for="UsrDateBirth" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UsrDni" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UsrDni" class="form-control" />
                <span asp-validation-for="UsrDni" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UsrEmail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UsrEmail" class="form-control" />
                <span asp-validation-for="UsrEmail" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UsrFirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UsrFirstName" class="form-control" />
                <span asp-validation-for="UsrFirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UsrGender" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UsrGender" class="form-control" />
                <span asp-validation-for="UsrGender" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UsrLastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UsrLastName" class="form-control" />
                <span asp-validation-for="UsrLastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UsrPhone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UsrPhone" class="form-control" />
                <span asp-validation-for="UsrPhone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UsrPhoto" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UsrPhoto" class="form-control" />
                <span asp-validation-for="UsrPhoto" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UsrUsername" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UsrUsername" class="form-control" />
                <span asp-validation-for="UsrUsername" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
