@model IEnumerable<Entities.Users>

@{
    ViewData["Title"] = "Usuarios";
}

<div class="containerli">
    <div class="ui equal width left aligned padded grid stackable">

        <div class="row">
            <div class="sixteen wide column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h5 class="ui header">
                            Usuarios registradas
                        </h5>
                    </div>

                    <div class="ui segment">

                        <a asp-action="Create">
                            <div class="ui left floated small primary labeled icon button mdlcontact">
                                <i class="user icon"></i>
                                Nuevo
                            </div>
                        </a>

                        <table id="data_table" class="ui compact selectable striped celled table" cellspacing="0" width="100%">

                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UsrFirstName)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.UsrLastName)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.UsrDni)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.UsrPhone)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.UsrUsername)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.UsrDate)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UsrFirstName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UsrLastName)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.UsrDni)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.UsrPhone)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UsrUsername)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.UsrDate)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.UsrId"><i class="pencil link icon"></i></a>|
                                            <a asp-action="Details" asp-route-id="@item.UsrId" class="ui modaleffect" data-value="horizontal flip"><i class="info link icon"></i></a>|
                                            <a class="ui swtalrt" data-content="@item.UsrId" data-selector="@item.UsrUsername" data-type="info"><i class="trash link icon"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
