@model Entities.Companies

@{
    ViewData["Title"] = "Create";
}

<div class="containerli">
    <div class="ui equal width left aligned padded grid stackable">

        <div class="row">
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h5 class="ui header">
                            <a asp-action="Index"><i class="chevron circle left icon"></i>Regresar a la lista</a> | Empresa
                        </h5>
                    </div>

                    <form asp-action="Create" class="ui form segment form5">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="ui one column middle aligned very relaxed stackable grid">
                            <div class="column">
                                <div class="ui form">
                                    <div class="field">
                                        <label asp-for="ComDescription" class="col-md-2 control-label"></label>
                                        <div class="ui left icon input">

                                            <input asp-for="ComDescription" class="form-control" placeholder="Descripcion" />
                                            <i class="mail outline icon"></i>
                                        </div>
                                        <span asp-validation-for="ComDescription" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ui two column middle aligned very relaxed stackable grid">
                            <div class="column">
                                <div class="ui blue submit button">Guardar</div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
