@model Entities.Companies

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Companies</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ComDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComEnabled)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ComId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
