@model Entities.Xobjects

@{
    ViewData["Title"] = "Nuevo objeto";
}

<div class="containerli">
    <div class="ui equal width left aligned padded grid stackable">

        <div class="row">
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h5 class="ui header">
                            <a asp-action="Index"><i class="chevron circle left icon"></i>Regresar a la lista</a> | Objeto
                        </h5>
                    </div>


                    <form asp-action="Create" class="ui form segment form5">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        
                        <div class="ui two column middle aligned very relaxed stackable grid">

                            <div class="column">
                                <div class="ui form">
                                    <div class="field">
                                        <label asp-for="ObjDescription" class="col-md-2 control-label"></label>                                <div class="ui left icon input">
                                            <input type="email" placeholder="Descripcion" asp-for="ObjDescription" />
                                            <i class="mail outline icon"></i>
                                        </div>
                                        <span asp-validation-for="ObjDescription"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="column">
                                <div class="ui form">
                                    <div class="field">
                                        <label asp-for="SubId"></label>
                                        <div class="ui left icon input">

                                            <div class="ui fluid search selection dropdown">
                                                <input type="hidden" name="PerId">
                                                <i class="dropdown icon"></i>
                                                <div class="default text">Seleccionar Persona </div>
                                                <div class="menu">

                                                    @foreach (var item in ViewBag.SubId as SelectList)
                                                    {
                                                        <div class="item" data-value="@item.Value">
                                                            <i class="user icon"></i>@item.Text


                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                        <span asp-validation-for="SubId" class="text-danger"></span>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="ui two column middle aligned very relaxed stackable grid">

                            <div class="column">
                                <div class="ui form">
                                    <div class="field">
                                        <label class="col-md-2 control-label">Photo</label>
                                        <div class="ui left icon input">
                                            <input class="form-control" id="files" onchange="validate()" type="file" name="files" accept="image/*" />
                                            <i class="file image outline icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="ui two column middle aligned very relaxed stackable grid">
                            <div class="column">
                                <div class="ui blue submit button">Guardar</div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>