@model Entities.Xobjects

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Xobjects</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ObjDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ObjDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ObjPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ObjPath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ObjDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ObjDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ObjEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ObjEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sub)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sub.SubId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usr.UsrId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ObjId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
